@import url(/res/css/root.css);
body{
    font-family: "HelveticaNeue";
}
button{
    background-color: rgb(139, 194, 242);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: all 350ms ease-in-out;
    &:hover{
        background-color: rgb(96, 155, 208);

    }
   
}


textarea{
    font-family: "HelveticaNeue";
    background-color: rgb(25, 25, 25);
    color: rgb(221, 221, 221);
    transition: all 300ms ease-in-out;
    border-radius: 5px;
   width:100%;
   height: 100%;
    box-shadow: 1.5px  1.5px  1.5px rgb(43, 43, 43);
margin: 5px;
}

input{
   
    border: none;
    border-radius: 5px;
    padding: 5px;
 &:hover{
    
 }   
}


select{

font-weight: 500;
padding: 3.8px 40px  3.8px 40px ;
border-radius: 5px;
background: linear-gradient(90deg,rgb(25, 25, 25),rgba(25, 25, 25, 0.624),rgba(25, 25, 25, 0.542));
background-color: rgb(25, 25, 25);
color: whitesmoke;
}

form{
    display: flex;
}