.container_div {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.centered_div {

  grid-row-start: 2;
  display: flex;

  
  transition: all 350ms ease-in-out;
}

.btns {
  display: flex;
  gap: 5px;
  margin: 5px;
  border-radius: 5px 5px auto auto;

  padding: 3px;
  align-items: center;
}
.btn {
  min-width: 120px;
}
#input_txt,
#output_txt {
  resize: none;
}
#combobox{
  margin-left: 5px;
}

@media screen and (min-width: 600px) {
  .btns {
    flex-direction: column;
    gap: 10px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

  .centered_div {
    flex-direction: column;
  }
  form {
    flex-direction: column;
  }
  .btns {
    display: block;
  }
  button{
    margin: 5px;
  }
}
