.container_div {
 display:grid;
 grid-template-columns: 0.2fr 1fr;

 column-gap: 5px;
 margin: 0;
  justify-content: center;
  align-items: center;
}
.centered_div {
  grid-column-start: 2;
  grid-row-start: 1;
  height: 90vh;
  margin: 0;
  
  transition: all 350ms ease-in-out;
}
.centered_div iframe{
  height: 90vh;
  width: 80vw;
  border: none;
  padding: 5px;
}
.sidebar{
  justify-items: center;
  margin: 0;
 padding: 5px;
 height: 93vh;
background-color: rgba(40, 40, 40, 0.751);

}

.navlist li{
 
  cursor: pointer;
  font-family: "HelveticaNeue_Light";
  
 list-style-type: none;
  font-size: larger;
  text-align:start;
  padding: 10px;
  &:hover{
    background-color: cadetblue;
  }
}

.btns {
  display: flex;
  gap: 5px;
  margin: 5px;
  border-radius: 5px 5px auto auto;

  padding: 3px;
  align-items: center;
}
.btn {
  min-width: 120px;
}
#input_txt,
#output_txt {
  resize: none;
  
}
#combobox{
  margin-left: 5px;
}


@media screen and (min-width: 600px) {
  .btns {
    flex-direction: column;
    gap: 10px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

  .centered_div {
    flex-direction: column;
  }
  form {
    flex-direction: column;
  }
  .btns {
    display: block;
  }
  button{
    margin: 5px;
  }
  #input_txt,
#output_txt {
  height: 200px;
  
}
}
