@font-face {
    font-family: "HelveticaNeue";
    src: url('/res/HelveticaBlkIt.ttf');
}
@font-face {
    font-family: "HelveticaNeue_Bold";
    src: url('/res/HelveticaNeueBold.ttf');
}
@font-face {
    font-family: "HelveticaNeue_Light";
    src: url('/res/HelveticaNeueLight.ttf');
}